﻿/*Janine Lee
    4/11/17
    
    This is to style the center top&btm buttons
    to make the keyboard button format in a more circular shape  
            data-pos: 
                  (0,0) (0,1) (0,2)
                  (1,0) (1,1) (1,2) 
                  (2,0) (2,1) (2,2)
            then vertical-align: 30px (top and btm)
            then left: 30px (left and right)
*/

.ui-keyboard-button[data-pos="0,1"]
{    /*meta-, top*/
        vertical-align: 30px;
}

.ui-keyboard-button[data-pos="2,1"]
{
    /*meta-, btm*/
        vertical-align: -30px;
}

.ui-keyboard-button[data-pos="1,0"]
{
    /*left*/
        position:relative;
        left: -30px;
}

.ui-keyboard-button[data-pos="1,2"]
{
    /*right*/
        position:relative;
        left: 30px;
}

.ui-keyboard-button[data-pos="1,1"]
{
    /*Center button*/
        background-color: #e1e1e1;
        color:black;
        width:130px;
        height:130px;        
}
.ui-keyboard-button{
    font-family:Eurostile;
    font-weight:bold;
    color:#787878;
}

    .ui-keyboard-keyset.ui-keyboard-keyset button.ui-keyboard-button:hover
    {
    /*kb...hover*/
    filter: brightness(55%);
    }

/*End of main changes*/

/*keyboard color designs
    data-pos:
     (0,0) (0,1) (0,2)
     (1,0) (1,1) (1,2) 
     (2,0) (2,1) (2,2)

    normal: default
    meta-abc: english kb
    meta-html: html kb
    meta-css: css kb
    meta-javas: javascript kb

    navs: meta-nav: default nav 
    meta-nav2: english nav 
    ""3: html nav
    ""4: css nav
    ""5: javascript nav
*/

  /*Navs (default-5)*/
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav button.ui-keyboard-button[data-pos="0,1"], 
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav2 button.ui-keyboard-button[data-pos="0,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav3 button.ui-keyboard-button[data-pos="0,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav4 button.ui-keyboard-button[data-pos="0,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav5 button.ui-keyboard-button[data-pos="0,1"]
    {
    /*Navs...top*/
    background-color:#00ffe1;
    color:black; 
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav button.ui-keyboard-button[data-pos="0,2"], 
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav2 button.ui-keyboard-button[data-pos="0,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav3 button.ui-keyboard-button[data-pos="0,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav4 button.ui-keyboard-button[data-pos="0,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav5 button.ui-keyboard-button[data-pos="0,2"]
    {
    /*Navs...topRight*/
    background-color:#41ffe9;
    color:black; 
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav button.ui-keyboard-button[data-pos="1,2"], 
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav2 button.ui-keyboard-button[data-pos="1,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav3 button.ui-keyboard-button[data-pos="1,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav4 button.ui-keyboard-button[data-pos="1,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav5 button.ui-keyboard-button[data-pos="1,2"]
    {
    /*Navs...Right*/
    background-color:#7ffff0;
    color:black; 
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav button.ui-keyboard-button[data-pos="2,2"], 
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav2 button.ui-keyboard-button[data-pos="2,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav3 button.ui-keyboard-button[data-pos="2,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav4 button.ui-keyboard-button[data-pos="2,2"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav5 button.ui-keyboard-button[data-pos="2,2"]
    {
    /*Navs...btmRight*/
    background-color:#c2fff8;
    color:black; 
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav button.ui-keyboard-button[data-pos="2,1"], 
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav2 button.ui-keyboard-button[data-pos="2,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav3 button.ui-keyboard-button[data-pos="2,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav4 button.ui-keyboard-button[data-pos="2,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav5 button.ui-keyboard-button[data-pos="2,1"]
    {
    /*Navs...btm*/
    background-color:#22302e;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav button.ui-keyboard-button[data-pos="2,0"], 
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav2 button.ui-keyboard-button[data-pos="2,0"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav3 button.ui-keyboard-button[data-pos="2,0"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav4 button.ui-keyboard-button[data-pos="2,0"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav5 button.ui-keyboard-button[data-pos="2,0"]
    {
    /*Navs...btmLeft*/
    background-color:#00332d;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav button.ui-keyboard-button[data-pos="1,1"], 
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav2 button.ui-keyboard-button[data-pos="1,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav3 button.ui-keyboard-button[data-pos="1,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav4 button.ui-keyboard-button[data-pos="1,1"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav5 button.ui-keyboard-button[data-pos="1,1"]
    {
    /*Navs...btmLeft*/
    background-color:#007d6e;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav button.ui-keyboard-button[data-pos="0,0"], 
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav2 button.ui-keyboard-button[data-pos="0,0"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav3 button.ui-keyboard-button[data-pos="0,0"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav4 button.ui-keyboard-button[data-pos="0,0"],
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-nav5 button.ui-keyboard-button[data-pos="0,0"]
    {
    /*Navs...btmLeft*/
    background-color:#00bfa9;
    }
/*End of Navs*/

/*Default kb*/
    .ui-keyboard-keyset.ui-keyboard-keyset-normal button.ui-keyboard-button[data-pos="0,1"]
    {
    /*Default kb...top*/
    background-color:#0022ff;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-normal button.ui-keyboard-button[data-pos="0,2"]
    {
    /*Default kb...topRight*/
    background-color:#3752ff;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-normal button.ui-keyboard-button[data-pos="1,2"]
    {
    /*Default kb*...Right*/
    background-color:#7285ff;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-normal button.ui-keyboard-button[data-pos="2,2"]
    {
    /*Default kb*...btmRight*/
    background-color:#c0c8ff;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-normal button.ui-keyboard-button[data-pos="2,1"]
    {
    /*Default kb...btm*/
    background-color:#313340;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-normal button.ui-keyboard-button[data-pos="2,0"]
    {
    /*Default kb...btmLeft*/
    background-color:#000941;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-normal button.ui-keyboard-button[data-pos="1,0"]
    {
    /*Default kb...left*/
    background-color:#000f74;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-normal button.ui-keyboard-button[data-pos="0,0"]
    {
    /*Default topLeft*/
    background-color:#0019be;
    }
/*End of default kb*/

/*English kb*/
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-abc button.ui-keyboard-button[data-pos="0,1"]
    {
    /*English kb...top*/
    background-color:#1eff00;
    color:black; 
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-abc button.ui-keyboard-button[data-pos="0,2"]
    {
    /*English kb...topRight*/
    background-color:#56ff40;
    color:black; 
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-abc button.ui-keyboard-button[data-pos="1,2"]
    {
    /*English kb*...Right*/
    background-color:#8eff7f;
    color:black; 
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-abc button.ui-keyboard-button[data-pos="2,2"]
    {
    /*English kb*...btmRight*/
    background-color:#c2ffba;
    color:black; 
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-abc button.ui-keyboard-button[data-pos="2,1"]
    {
    /*English kb...btm*/
    background-color:#2c3a2a;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-abc button.ui-keyboard-button[data-pos="2,0"]
    {
    /*English kb...btmLeft*/
    background-color:#073a00;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-abc button.ui-keyboard-button[data-pos="1,0"]
    {
    /*English kb...left*/
    background-color:#0f8000;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-abc button.ui-keyboard-button[data-pos="0,0"]
    {
    /*English topLeft*/
    background-color:#17c100;
    }
/*End of English kb*/

/*Html kb*/
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-html button.ui-keyboard-button[data-pos="0,1"]
    {
    /*Html kb...top*/
    background-color:#ff00ae;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-html button.ui-keyboard-button[data-pos="0,2"]
    {
    /*Html kb...topRight*/
    background-color:#ff42c3;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-html button.ui-keyboard-button[data-pos="1,2"]
    {
    /*Html kb*...Right*/
    background-color:#ff79d4;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-html button.ui-keyboard-button[data-pos="2,2"]
    {
    /*Html kb*...btmRight*/
    background-color:#ffc0eb;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-html button.ui-keyboard-button[data-pos="2,1"]
    {
    /*Html kb...btm*/
    background-color:#291f26;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-html button.ui-keyboard-button[data-pos="2,0"]
    {
    /*Html kb...btmLeft*/
    background-color:#3d002a;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-html button.ui-keyboard-button[data-pos="1,0"]
    {
    /*Html kb...left*/
    background-color:#7a0053;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-html button.ui-keyboard-button[data-pos="0,0"]
    {
    /*Html topLeft*/
    background-color:#bc0080;
    }
/*End of Html*/

/*css kb-----*/
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-css button.ui-keyboard-button[data-pos="0,1"]
    {
    /*css kb...top*/
    background-color:#8400ff;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-css button.ui-keyboard-button[data-pos="0,2"]
    {
    /*css kb...topRight*/
    background-color:#a646ff;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-css button.ui-keyboard-button[data-pos="1,2"]
    {
    /*css kb*...Right*/
    background-color:#c587ff;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-css button.ui-keyboard-button[data-pos="2,2"]
    {
    /*css kb*...btmRight*/
    background-color:#e3c6ff;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-css button.ui-keyboard-button[data-pos="2,1"]
    {
    /*css kb...btm*/
    background-color:#2d2534;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-css button.ui-keyboard-button[data-pos="2,0"]
    {
    /*css kb...btmLeft*/
    background-color:#20003e;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-css button.ui-keyboard-button[data-pos="1,0"]
    {
    /*css kb...left*/
    background-color:#40007b;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-css button.ui-keyboard-button[data-pos="0,0"]
    {
    /*css topLeft*/
    background-color:#6300c0;
    }
/*End of css*/

/*javas kb*/
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-javas button.ui-keyboard-button[data-pos="0,1"]
    {
    /*javas kb...top*/
    background-color:#ff002a;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-javas button.ui-keyboard-button[data-pos="0,2"]
    {
    /*javas kb...topRight*/
    background-color:#ff4261;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-javas button.ui-keyboard-button[data-pos="1,2"]
    {
    /*javas kb*...Right*/
    background-color:#ff8599;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-javas button.ui-keyboard-button[data-pos="2,2"]
    {
    /*javas kb*...btmRight*/
    background-color:#ffced6;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-javas button.ui-keyboard-button[data-pos="2,1"]
    {
    /*javas kb...btm*/
    background-color:#3a2e30;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-javas button.ui-keyboard-button[data-pos="2,0"]
    {
    /*javas kb...btmLeft*/
    background-color:#2d0008;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-javas button.ui-keyboard-button[data-pos="1,0"]
    {
    /*javas kb...left*/
    background-color:#6b0012;
    }
    .ui-keyboard-keyset.ui-keyboard-keyset-meta-javas button.ui-keyboard-button[data-pos="0,0"]
    {
    /*javas topLeft*/
    background-color:#af001d;
    }
/*End of javas*/