﻿/*Janine Lee
  3/8/17
*/
        /*viscardi font override later?*/
    body{
        background-color: darkgrey;
        /*#2F6EB6*/
    }

    #viscardiLogo{
        /*Viscardo logo size and position*/
        position: absolute;
        background-color:white;
        padding-right:2px;
        top:5px;
        left:9px;
        height:60px;
        width:250px;
    }

    h2 {
        /*header1*/
        position: absolute;
        top: -20px;
        left: 320px;
        color: black;
        font-size: 35px;
        font-family: Helvetica Font Family;
    }
    h3 {
        /*header2*/
        position: absolute;
        top: 40px;
        left: 320px;
        color: black;
        font-size: 10px;
        font-family: Helvetica Font Family;
    }    
    #toolbar {
        /*Top Menu/Toolbar*/
        position:absolute;
        top:0;
        z-index:-3;
        /*top: 67px;*/
        width: 1535px;
        height: 85px;
        margin: 0;
        /*background-color: #FFC552;*/
        background-color:white;

        /*border-top-right-radius: 0.25em;*/
    }
       /* #toolbar2 {
        /*Top Menu/Toolbar*/
       /* position:absolute;
        top: 67px;
        left: 1010px;
        width: 515px;
        height: 50px;
        border: 1px solid #231F20;
        background-color: #FFC552;  

        border-top-left-radius: 0.25em;
    }*/
   #svgCircle{
       /*Circle behind keyboard*/
        position: absolute;
        background-color:#176dfe;
        top: 118px;
        left: 520px;
    }

    #radial_VK1 {
        /*Bottom Menus, where buttons, tutorials, and menus would go*/
        position: absolute;
        top: 545px;
        float: bottom;
        width: 1517px;
        height: 180px;
        background-color: transparent;

    }

    #jumpToLine{
        /*jump to line panel*/
        color: black;
        position:absolute;
        background-color:white;
        left: 527px;
        bottom: 12px;
        height: 160px;
        width: 487px;
        border-radius: 0.5em;

        box-shadow: 0px 0px 5px #231F20;
    }
        #jumpText{
            position:absolute;
            padding-left:78px;
            top:2px;
            font-size:20px;
        }
        #jumpTextHint{
            position:absolute;
            padding-left:65px;
            top:27px;
            left:160px;
            font-size:18px;
    }
    #jumpBox{
        /*box around jump to line menu*/
        position:absolute;
        border-radius: 0.35em;
        top: 22px; 
        left: 195px;
    }

    #jumpAccept{
        /*jump accept button*/
        color:white;
        position:absolute;
        background-color: #2F6EB6;
        border:1px solid #2F6EB6;
        border-radius: 0.35em;
        top: 110px;
        left: 350px;
    }
    #jumpBack {
        /*jump back button*/
        color: white;
        position: absolute;
        background-color: #2F6EB6;
        border: 1px solid #2F6EB6;
        border-radius: 0.35em;
        top: 110px;
        left: 300px;
}

    #menuSwitch {
        /*menu switcher*/
        position: absolute;
        border: 0.1px solid grey;
        left: 10px;
        top: 5px;
        height: 50px;
        width: 50px;
        border-radius: 0.25em;
}
    #GridView1{
        /*right gridview (tutorials and templates) */
        background-color:#2F6EB6;
        position:absolute;
        right: 171px;
        bottom: 50px;
        height: 5px;
        width: 161px;

        border-bottom: 50px;
}

    #GridView1 a{
        /*Rid of link styling*/
        text-decoration:none;
        color: white;
    }

    #GridView2 {
        /*left gridview (saved files) */
        background-color: #2F6EB6;
        position: absolute;
        left: 300px;
        bottom: 50px;
        height: 5px;
        text-decoration: none;
        width: 161px;

        border-bottom: 50px;
    }

    #GridView2 a {
        /*Rid of link styling*/
        text-decoration: none;
        color: white;
    }

    .CodeMirror {
        /*Left editor*/
        float: left;
        width: 33.5%;
        height: 425px;  
        border: 1px solid #231F20;
        position: absolute;
        top: 118px;

        /*font*/
        font-size:16px;
        margin-left:10px;
    }

    iframe {
        /*Right preview*/
        background-color:white;
        width: 33.5%;
        float: left;
        height: 425px;
        border: 1px solid #231F20;
        position: absolute;
        top: 118px;
        left: 1010px;

        margin-right:10px;
    }

    #Save {
        /*Save button*/
        position:absolute;
        bottom: 75px;
        left: 195px;
        color:white;
        background-color: #2F6EB6;
        border:1px solid #2F6EB6;
        border-radius: 0.35em;
    }
    #saveTextbox {
        /*Save Textbox*/
        position:absolute;
        bottom: 75px;
        left: 36px;
        border-style: inset;
        border-radius: 0.35em;
        border: 1px solid grey;
        box-shadow: -0.5px -0.5px 1px grey;
    }

    #TestCmd {
        /*temp button*/
        position:absolute;
        bottom: 20px;
        left: -150px;
    }

    #ResetButton {
        position:absolute;
        top: 550px;
        left: 900px;
    }

    #VKTest {
        position:absolute;
        top: 2px;
        left: 500px;
    }

    #tutorialList {
        position:absolute;
        left: 1000px;
    }
    #socialMediaButtons{
        position: absolute;
        top: 80px;
        right: 100px;
    }
    #tfollow{

    }
    #tcomment
    {

    }
    #fb-root{
        position:absolute;
        top:-10px;
        right:10px;
    }
